/* Display Switch */
.displayTwo{
    display: none;
  }
  
  .displayThree{
    display: none;
  }
  
  .displayQuestion{
    display: none;
  }
  
  
  :root {
      --primaryColour--:#BB2CD9;
      --primaryFontSize--: 2em;
      --secondaryFontSize--:1em;
      --primaryFontFamily--: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  }
  
  .customContainer{
    margin: 0%; 
    max-width: 100%; 
  }
  
  .topLogo{
    width: 10em;
    height: 3em;
    float: right;
    align-self: flex-end;
  }
  
  .mainContent{
    font-family: var(--primaryFontFamily--);
    font-size: var(--primaryFontSize--);
    text-align: center;
  }
  
  .firstRow{
    margin: 0em;
  }
  
  .secondRow{
    padding-top: 10em;
      margin: 0em;
  }
  
  .thirdRow{
    padding-top: 5em;
    margin: 0em;
    text-align: center;
  }
  
  
  .primaryButton{
    width: 5em;
    font-size: var(--primaryFontSize--);
    font-family: var(--primaryFontFamily--);
    color: var(--primaryColour--);
    background-color: white;
    border-radius: 1em;
    border: 0.1em solid var(--primaryColour--);  
    transition: 0.5s;
  }
  
  .primaryButton:hover{
    background-color: var(--primaryColour--);
    width: 6em;
    color: white;
  }
  
  /* Display Two */
  
  .customButtonOne{
    width: 7em;
  }
  
  .customButtonOne:hover{
    width: 8em;
  }
  
  /* Display Three */
  .instruction{
    font-family: var(--primaryFontFamily--);
    font-size: 1.5em;
  }
  
  .customSecondRow{
    padding-top: 1em;
    text-align: center;
  }
  
  .customThirdRow{
    padding-top: 1em;
  }
  
  
  
  
  
  
  .container-fluid .box1{
    margin: 0em !important;
    padding: 0 !important;
  }
  
  
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 8em;
  }
  
  .sidenav a {
    padding: 0.05em 0.05em 0.05em 0.8em;
    text-decoration: none;
    font-size: var(--primaryFontSize--);
    font-family: var(--primaryFontFamily--);
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: white;
    background-color: var(--primaryColour--);
       
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0em;
    right: 0em;
    font-size: 3em;
  }
  
  .sidenav .closebtn:hover {
    background-color: white;
    color: black;
    font-size: 3.3em;
  }
  
  .opnbtn{
    margin-left: 2em;
    padding-top: 2em;
    font-size:var(--primaryFontSize--);
    transition: 0.5s;
  }
  
  .opnbtn:hover{
    margin-left: 1.5em;
    padding-top: 1.5em;
    font-size: 2.5em;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 1em;}
    .sidenav a {font-size: 1em;}
  }
  